<?xml version="1.0" encoding="UTF-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.diagnostics>
    <sources>
      <source propagateActivity="true" name="System.ServiceModel" switchValue="TraceWarninging,ActivityTracing">
        <listeners>
          <add type="System.Diagnostics.DefaultTraceListener" name="Default">
            <filter type="" />
          </add>
          <add name="ServiceModelTraceListener">
            <filter type="" />
          </add>
        </listeners>
      </source>
    </sources>
    <sharedListeners>
      <add initializeData="c:\ab_iis_agentpop\agentdeployv2\web_tracelog.svclog" type="System.Diagnostics.XmlWriterTraceListener, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" name="ServiceModelTraceListener" traceOutputOptions="Timestamp">
        <filter type="" />
      </add>
    </sharedListeners>
  </system.diagnostics>
  <connectionStrings>
    <add name="DB_AB" connectionString="Data Source=10.1.25.146,53414;Initial Catalog=Gen_DB;User ID=POMDB01;Password=R@inbow4321!@" providerName="System.Data.SqlClient" />
    <add name="DB_IVR" connectionString="Data Source=10.1.25.146,53414;Initial Catalog=IVRDB;User ID=POMDB01;Password=R@inbow4321!@" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.6" />
		<customErrors mode="off"/>
      </system.Web>
  -->
  <system.web>
    
    <compilation targetFramework="4.5" debug="true">
      <assemblies>
        <add assembly="System.Core, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Xml.Linq, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
      </assemblies>
    </compilation>
    <httpRuntime targetFramework="4.5" />
        <identity impersonate="false" />
  </system.web>
  <system.codedom>

  </system.codedom>
  <appSettings>
    <add key="CBR_Services.CallBackRequest" value="http://10.1.25.157/CallBack/CallBackRequest.asmx" />
  <add key="testpost.CustomerPostingServices" value="https://10.1.13.39:9130/Customer/Posting" />
  </appSettings>
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior name="">
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
    <diagnostics performanceCounters="Default">
      <endToEndTracing propagateActivity="true" activityTracing="true" messageFlowTracing="true" />
    </diagnostics>
    <bindings>
      <basicHttpBinding>
        <binding name="CallBackRequestSoap" />
        <binding name="CustomerPostingServicesSOAP" />
        <binding name="CustomerPostingServicesSOAP1">
          <security mode="Transport" />
        </binding>
        <binding name="CustomerPostingServicesSOAP2" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://10.1.25.157/CallBack/CallBackRequest.asmx" binding="basicHttpBinding" bindingConfiguration="CallBackRequestSoap" contract="CBR_Services.CallBackRequestSoap" name="CallBackRequestSoap" />
      <endpoint address="https://10.1.13.39:9130/Customer/Posting" binding="basicHttpBinding" bindingConfiguration="CustomerPostingServicesSOAP1" contract="ServiceReference1.CustomerPostingServices" name="CustomerPostingServicesSOAP1" />
    </client>
  </system.serviceModel>
</configuration>
<!--ProjectGuid: c1effc8e-da6b-4d7f-95c2-c0bae9578db8-->